.idea
/venv
*.pyc
__pycache__
.DS_Store
/src/test/test_inverter_monitor.log
/esp32-cam/CameraWebServer/wifi_password.h

/localwebsite/vendor
/localwebsite/.debug.log
/localwebsite/config.local.php
/localwebsite/cache
/localwebsite/test.php