.idea
/venv
/node_modules
*.pyc
config.def.h
__pycache__
.DS_Store
/src/test/test_inverter_monitor.log
/youtrack-certificate
/cpp
/src/test.py
/esp32-cam/CameraWebServer/wifi_password.h
cmake-build-*
.pio
CMakeListsPrivate.txt

*.swp

/localwebsite/vendor
/localwebsite/.debug.log
/localwebsite/config.local.php
/localwebsite/cache
/localwebsite/test.php
