[Unit]
Description=HomeKit Camera Node
After=network-online.target

[Service]
User=user
Group=user
Restart=on-failure
ExecStart=/home/user/homekit/src/camera_node.py
WorkingDirectory=/home/user

[Install]
WantedBy=multi-user.target