[Unit]
Description=HomeKit IPCam Server
After=network-online.target

[Service]
User=user
Group=user
Restart=on-failure
ExecStart=/home/user/homekit/src/ipcam_server.py
WorkingDirectory=/home/user

[Install]
WantedBy=multi-user.target