[Unit]
Description=homekit pump_mqtt_bot
After=network-online.target

[Service]
Restart=on-failure
User=user
WorkingDirectory=/home/user
ExecStart=/home/user/homekit/src/pump_mqtt_bot.py

[Install]
WantedBy=multi-user.target