[Unit]
Description=homekit relay_mqtt_http_proxy
After=network-online.target

[Service]
Restart=on-failure
User=user
WorkingDirectory=/home/user
ExecStart=/home/user/homekit/src/relay_mqtt_http_proxy.py

[Install]
WantedBy=multi-user.target