[Unit]
Description=Sensors MQTT sender
After=si7021d.service

[Service]
User=user
Group=user
Restart=on-failure
ExecStart=/home/user/homekit/src/sensors_mqtt_sender.py
WorkingDirectory=/home/user

[Install]
WantedBy=multi-user.target