<div class="container py-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Главная</li>
    </ol>
  </nav>

  {% if auth_user %}
    <div class="mb-4 alert alert-secondary">
      Вы авторизованы как <b>{{ auth_user.username }}</b>. <a href="/deauth/">Выйти</a>
    </div>
  {% endif %}

  <h6>Интернет</h6>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/modem/status/">Состояние</a></li>
    <li class="list-group-item"><a href="/routing/">Маршрутизация</a></li>
    <li class="list-group-item"><a href="/modem/sms/">SMS-сообщения</a></li>
  </ul>

  <h6 class="mt-4">Другое</h6>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/inverter/">Инвертор</a></li>
    <li class="list-group-item"><a href="/pump/">Насос</a></li>
    <li class="list-group-item"><a href="/sensors/">Датчики</a></li>
    <li class="list-group-item"><a href="/cams/">Камеры</a></li>
  </ul>
</div>