{% include 'bc.twig' with {
  history: [
    {text: "Инвертор" }
  ]
} %}

<h6 class="text-primary">Статус</h6>
<div id="inverter_status">
  {{ html|raw }}
</div>

<div class="pt-3">
  <a href="/inverter/set-osp/?value={{ rated.output_source_priority == 'Solar-Battery-Utility' ? 'sub' : 'sbu' }}">
    <button type="button" class="btn btn-primary">Переключить на <b>{{ rated.output_source_priority == 'Solar-Battery-Utility' ? 'Solar-Utility-Battery' : 'Solar-Battery-Utility' }}</b></button>
  </a>
</div>

{% js %}
Inverter.poll();
{% endjs %}