{% include 'bc.twig' with {
  history: [
    {text: "Инвертор" }
  ]
} %}

<h6 class="text-primary">Статус</h6>
<div id="inverter_status">
  {{ html|raw }}
</div>

{% js %}
Inverter.poll();
{% endjs %}