{% include 'bc.twig' with {
  history: [
    {text: "Модемы" }
  ]
} %}

{% for modem_key, modem in modems %}
  <h6 class="text-primary{% if not loop.first %} mt-4{% endif %}">{{ modem.label }}</h6>
  <div id="modem_data_{{ modem_key }}">
    {% include 'modem_data.twig' with {
      loading: true
    } %}
  </div>
{% endfor %}

{% js %}
ModemStatus.init({{ js_modems|json_encode|raw }});
{% endjs %}
