{% include 'bc.twig' with {
  history: [
    {text: "Насос" }
  ]
} %}

<form action="/pump/" method="get">
  <input type="hidden" name="set" value="{{ status == 'on' ? 'off' : 'on' }}" />
  Сейчас насос
  {% if status == 'on' %}
    <span class="text-success"><b>включен</b></span>.<br><br>
    <button type="submit" class="btn btn-primary">Выключить</button>
  {% else %}
    <span class="text-danger"><b>выключен</b></span>.<br><br>
    <button type="submit" class="btn btn-primary">Включить</button>
  {% endif %}
</form>